*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #8d8d8d;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    display: block;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}

main {
    width: 600px;
    margin: 0 auto;
    max-width: 90%;
}

main img {
    float: right;
    max-width: 150px;
    height: auto;
    border: #8d8d8d solid 2px;
    padding: 5px;
    box-shadow: #8d8d8d 2px 2px 5px;
}

h1 {
    color: rgb(0, 0, 0);
}

aside {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: rgb(81, 121, 174);
    position: relative;
}

aside h2{
    position:absolute;
    top: 35px;
    left: 110px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid #000;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {;
  width: 20em;
  text-align: center;
}